<div class="card-container">
	<h1 x-large class="sample-content">Life</h1>

	<div>
		<h4>Local State</h4>

		<form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input type="text" pInputText [value]="localState.value"
          (input)="localState.value = $event.target.value"
          placeholder="Submit Local State to App State"
          autofocus/>
      <button md-raised-button color="primary">Submit Value</button>
    </form>
<!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>-->


		<pre>this.localState = {{ localState | json }}</pre>

	</div>

</div>
<p-growl [value]="msgs"></p-growl>

<p-dataScroller [value]="cars" [rows]="10" (onLazyLoad)="loadData($event)" [lazy]="true">
	<template let-car>
		<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5">
			<div class="ui-grid-row">
				<div class="ui-grid-col-10">{{car.name}}</div>
			</div>
		</div>
	</template>
</p-dataScroller>
